# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
f_Sentiment/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Models & plots
models/client_models/
plots/
*.bin
*.safetensors

# Temporary files
Temporary/
